@import url('reset.css');
@import url('fuentes.css');

/*estilos generales */

body  {

background:#FFFFF;
font-family:Arial,Helvetica,Sans-Serif;
}

a {
text-decoration:none;
 color:#fff;
}
a :hover {
text-decoration:underline;
}


 #wrapp{
   width:960px;
   margin: 0 auto;
   clear:both;
   font-family:sourcesans-light;
       }
	   
	   header {
	   
	   width:100%;
	   height:180px;
	   float:left;
	  background: #006680; /* Old browsers */
 /* IE6-9 */
box-shadow:0px 4px 4px #FFFFFF;
-moz-box-shadow:0px 3px 5px #000;
-webkit-box-shadow:0px 6px 4px #f2b80d;
margin-bottom:10px;
	  
	   }
	   
	   #subheader {
	   width:800px;
	   margin:0 auto;
	   }
	   
	 
	   #logotipo {
	   
	   float:left;
	   width:100px;
	   padding:20px 0px;
	   color:#FFFFFF;
	   
	   }
	   #logotipo a {
	   
	   font-family:sourcesans-light;
	   font-size:50px;
	   color:#FFFFFF;
	   
	   }
	   
	   #logotipo a:hover {
	   text-decoration:none;
	   }
	   
	   
	   /*menu */
	   header #subheader nav {
	   
	   float:left;
	   width:660px;
	   padding:80px 0px;
	   text-align:right;
	   
	   }
	   header #subheader nav ul li {
	   display:inline;
	   font-family:arial;
	   }
	   
	   header #subheader nav ul li a {
	   
	   color:#FFFFFF;
	   font-size:18px;
	   padding:10px;
	   border-radius:2px;
	    -moz-border-radius:2px;
		 -webkit-border-radius:2px;
	   
	   }
	    
	   header #subheader nav ul li a:hover {
	   
	   color:#000000;
	   background:#F2B80D;
	   text-decoration:none;
	   
	   }
	   
	   
	   /* main */
	   
	   #main {
	   width:100%;
	   margin:20px 0px 0px 0px 0px;
	   float:left;
	   }
	   
	   #slideshow {
	   width:920px;
	   height:250px;
	   float:center;
	   background:#fff;
	   border:solid 20px #fff;
	   margin-bottom:10px;
	   }
	   
	   
	   
	   .main  {
	width:10%;
	max-width:1000px;
	margin:20px auto;
}
 
.slides {
	width:100%;
}
 
.slides img {
	width:100%;
	height:100%;
}
 
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
}

.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
	   
	  .slidesjs-pagination li a:hover {
	background:#000;
}
.slides  .active  {
	background:#000;
}
 
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}
	   /*bienvenidos */
	   
	   #fondo {
	   	
	   	
	   	width:900px;
	   }
	   #bienvenidos {
	   
	   width:920px;
	   float:left;
	   padding:20px ;
	   
	   margin:20px 0px;
	   border-radius:5px;
	   -moz-border-radius:5px;
	   -webkit-border-radius:5px;
	   box-shadow:0px 2px 2px #000;
	    -moz-box-shadow:0px 2px 2px #000;
		 -webkit-box-shadow:0px 2px 2px #000;
		background:#b3b3b3;

	   }
	   
	    #bienvenidos_1 {
	   
	   width:920px;
	   float:left;
	   padding:20px ;
	   text-align: center;
	   margin:20px 0px;
	   border-radius:5px;
	   -moz-border-radius:5px;
	   -webkit-border-radius:5px;
	   box-shadow:0px 2px 2px #000;
	    -moz-box-shadow:0px 2px 2px #000;
		 -webkit-box-shadow:0px 2px 2px #000;
		background:#b3b3b3;

	   }
	   
	   #bienvenidos article h3 {
	   
	   font-family:sourcesans-light;
	   
	   color:black;
	   font-size:30px;
	   margin-bottom:10px;
	   }
	   
	   #bienvenidos article {
	   color:#1F1F1F;
	   line-height:27px;
	   }
	   
	   /*contenido */
	   
	   #contenido {
	   	 font-family:sourcesans-light;
	   width:700px;
	   float:left;
	   margin:20px 0px;
	   border-radius:5px;
	   -moz-border-radius:5px;
	   -webkit-border-radius:5px;
	   box-shadow:0px 2px 2px #000;
	    -moz-box-shadow:0px 2px 2px #000;
		 -webkit-box-shadow:0px 2px 2px #000;
		background:#b3b3b3;
		
	   }
	   
	   #contenido article {
	    font-family:sourcesans-light;
	   float:left;
	   margin-bottom:20px;
	   
	   }
	   
	   
	   #contenido article  .titulo {
	   
	   font-size:22px;
	   font-family:SourceSans-Light;
	   color:black;
	   }
	   
	   #contenido article .fecha {
	   font-size:14px;
	   color:black;
	   margin-bottom:5px;
	   }
	   
	   
	   #contenido article .thumb {
	    font-family:SourceSans-Light;
		font-size:22px;
	   width:220px;
	   height:150px;
	   float:left;
	   margin:0px 10px 10px 0px;
	   }
	   
	   #contenido article  >p {
	    font-family:sourcesans-light;
	   color:#1F1F1F;
	   font-size:14px;
	   text-align:justify;
	   line-height:20px;
	   }
	   
	   /*sidebar */
	   aside {
	   
	   width:220px;
	    font-family:sourcesans-light;
	   float:left;
	   margin-left:20px;
	   margin-top:20px;
	   background:#b3b3b3;
	   padding:10px 10px 0px 10px;
	   border-radius:5px;
	     -moz-border-radius:5px;
		   -webkit-border-radius:5px;
		   box-shadow:0px 2px 2px #000;
		   -moz-box-shadow:0px 2px 2px #000;
		   -webkit-box-shadow:0px 2px 2px #000;
	   
	   }
	   
	   aside .widget {
	    font-family:sourcesans-light;
	   margin-bottom:10px;
	   float:left;
	   height:296px;
	   }
	   
	   aside .widget  > h3 {
	   background:#b3b3b3;
	   color:black;
	   width:220px;
	   padding: 10px 0px;
	   text-align:center;
	   font-weight:bold;
	   margin-bottom:10px;
	    font-family:sourcesans-light;
	   }
	  aside .widget  a {
	  color:#1F1F1F;
	   font-family:sourcesans-light;
	  }
	  aside .widget ul li {
	  margin-bottom:5px;
	   font-family:sourcesans-light;
	  }
	  
	  /* footer */
	  
	  
	  footer {
	  	 font-family:sourcesans-light;
	  width:100&;
	  float:left;
	  clear:both;
	  box-shadow:0px 2px 2px #000;
	  -moz-box-shadow:0px 2px 2px #000;
	  -webkit-box-shadow:0px 2px 2px #000;
	  border-radius:5px;
	  -moz-border-radius:5px;
	  -webkit-border-radius:5px;
	background:#b3b3b3;

	  }
	  
	  footer section {
	  	 font-family:sourcesans-light;
	  width:880px;
	  height:100px;
	  
	  padding:40px;
	  
	 
	  }
	  
	  footer #acerca-de {
	  	 font-family:sourcesans-light;
	  
	  font-size:12px;
	  color:#1F1F1F;
	  text-align:justify;
	  line-height:20px;
	  }
	  
	  footer #acerca-de h3 {
	   font-family:SourceSans-Light;
	   font-size:20px;
	   color:black;
	   margin-bottom:5px;
	  }
	  
	 
	  
	
	  
	  footer #redes-s .email {
	  
	  background:url(../imagenes/correo.png);
	  margin-bottom:15px;
	  margin-top:20px;
	  
	  }
	  
	  footer #redes-s .twiter {
	   background:url(../imagenes/twitter.png);
	   margin-bottom:15px;
	   margin-top:20px;
	  }
	  footer #redes-s .youtube{
	   background:url(../imagenes/youtube.png);
	   margin-top:20px;
	  }
	  
	  footer #redes-s .facebook {
	   background:url(../imagenes/facebook.png);
	   margin-top:20px;
	  }
	  footer #redes-s > div:hover {
	  opacity:1;
	  }
	  
	  #copyright {
	  float:left;
	  width:960px;
	  margin:10px 0px;
	   font-family:sourcesans-light;
	  }
	  
	  #copyright {
	  
	  text-align:center;
	  font-size:12px;
	  color:white;
	  font-family:sourcesans-light;
	  }
